@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #00af66;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.name {
    width: 26 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 7.29%;
    padding-right: 10.29%;
    padding-top: 1.67%;
}

.logo {
    padding-top: 5%;
} 

nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
}

nav ul li {
    float: left;
    padding-top: 20.0%;
    margin-left: 10%;
}

nav ul li a {
    color: white;
    background-color: inherit;
    text-align: right;
    text-decoration: none;    
}

.search-box{
    display: inline-block;
    box-sizing: border-box;
    background: white;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;

}

.search-btn{
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
}

