<section>
    <!--class="information"-->
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="Enter Stock..."> [(ngModel)]="searchName"> {{ searchName }}
        <a class="search-btn">
          <button type="submit" (click)="search()">
    
            <i class="fas fa-search-dollar"></i></button>
        </a>
      </div>

    <h1 style="font-size:60px" class="name">{{ stockname }}</h1>
    <h1 style="font-size:120px"class="Price">{{ price }}</h1>
    
    <div class="vl"></div>
    <section class="attributes">
        <ul>
            <li style="font-size:25px" class="attName">Last Price</li>
            <li style="font-size:25px"class="attVal">{{LPValue}}</li>

            <li style="font-size:25px"class="MarTime">Market Time</li>
            <li style="font-size:25px"class="MValue">{{MTime}}</li>

            <li style="font-size:25px" class="Change">Change</li>
            <li style="font-size:25px"class="CValue">{{CValue}}</li>

            <li style="font-size:25px"class="ChangeP">Change %</li>
            <li style="font-size:25px"class="ChangePValue">{{ChangePValue}}</li>

            <li style="font-size:25px"class="Volume">Volume</li>
            <li style="font-size:25px"class="VValue">{{VValue}}</li>

            <li style="font-size:25px"class="MarketCap">MarketCap</li>
            <li style="font-size:25px"class="MCValue">{{MCValue}}</li>

            <li style="font-size:25px"class="IntHigh">IntHigh</li>
            <li style="font-size:25px"class="IHValue">{{IHValue}}</li>

            <li style="font-size:25px"class="IntLow">IntValue</li>
            <li style="font-size:25px"class="ILValue">{{ILValue}}</li>
           
            <h1 style="font-size:50px" class="txtStocks">Current Events</h1>

            <div class="grid">
                <!--add pic if u can-->
                <div>    
                <li style="font-size:50px" class="black">{{title}}</li>
                <li style="font-size:20px" class="black">{{description}}</li>
                <li style="font-size:20px" class="black">{{sentiment}}</li>
                </div>

            </div>
        </ul>

        
    
        <canvas>
        </canvas>
    </section>
</section>