<section class="information">
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="Enter Stock">
        <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
        </a>
    </div>

    <h1 class="name">{{ name }}</h1>
    <h1 class="Price"></h1>
    <hr class="soild2">

    <section class="attributes">
        <ul>
            <li class="attName">Text</li>
            <li class="attVal">Value</li>
        </ul>

        <canvas>
        </canvas>
    </section>
</section>