<section>
    <div class="about"></div>
    <h1 style="font-size:50px">About Us</h1>
    <h3 style="font-size:30px">Our Mission</h3>
    <p>We as a group have struggled in understanding how stocks work and what to look at to make smart decisions. We always wanted a platform that would help us learn along with help us build our profile. So we decided to creat Monday Finance. This is a platform which has all the factors that need to be considered when deciding on trading stocks. It includes news articles and their rcredibility and the actual price of every stock. We hope that this platform helps people to start investing and have some extra cash for things like COVID, they are ready. </p>
  </section>
