<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="container">
  <header>
    <img id="namelogo" src="assets/name2.png" alt="name" class="name">

    <nav>
      <ul class="nav" id="nav">
        <li style="font-size:22px"><a href="#" routerlink="/">home</a></li>
        <li style="font-size:22px"><a href="#" routerlink="/">stocks</a></li>
        <li style="font-size:22px"><a href="#" routerlink="/">about</a></li>
        <li style="font-size:22px"><a href="#" routerlink="/">contact</a></li>
      </ul>
    </nav>
  </header>
  <hr class="solid">
  <section>
    <img src="assets/logo.png" alt="logo" class="logo">
    <h1 style="font-size:50px">Stocks Made Easy</h1>
    <h3 style="font-size:30px">Stock Information in the Modern Era</h3>
    <div class="search-box">
      <input type="text" class="search-txt" name="" placeholder="Enter Stock...">
      <a href="#" class="search-btn">
        <button type="submit"><i class="fas fa-search-dollar"></i></button>
      </a>
    </div>
  </section>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>