<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="container">
  <header>
    <img id="namelogo" src="assets/name2.png" alt="name" class="name">

    <nav>
      <ul class="nav" id="nav">
        <li style="font-size:22px"><a href="#" routerLink="/">home</a></li>
        <li style="font-size:22px"><a href="#" routerLink="/stock">stocks</a></li>
        <li style="font-size:22px"><a href="#" routerLink="/singlestock">about</a></li>
        <li style="font-size:22px"><a href="#" routerLink="/">contact</a></li>
      </ul>
    </nav>
  </header>
  <hr class="solid">
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>